.details_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15% 0;
}

.image_slider_container {
    height: 29rem;
    width: 41%;
    margin-left: 1rem;
}

.product_infos_container {
    width: 50%;
    font-size: 1.5rem;
}

@media screen and (max-width: 839px) {
    .details_container {
        flex-flow: column;
    }

    .product_infos_container {
        margin-top: 2rem;
        width: 100%;
    }
}

@media screen and (max-width: 839px) {
    .image_slider_container {
        width: 100%;
    }
}
