.slider {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.arrow {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.arrow--right {
    right: 1rem;
}

.arrow--left {
    left: 1rem;
}

.slide {
    height: 100%;
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    width: 80%;
    opacity: 1;
    transition-duration: 1s;
}

.dots_container {
    position: absolute;
    bottom: -2rem;
    display: flex;
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: gray;
    margin: 0 0.2rem;
    cursor: pointer;
}

.dot_active {
    background-color: #5d2be2;
}

@media screen and (max-width: 839px) {
    .slider {
        width: 100%;
    }
}
