.main_navigation {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(
        to right,
        #ff1d25 5%,
        #a0328c 35%,
        #7040a4 45%,
        #4359c7 55%,
        #0082e6 70%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.decor_line {
    background: linear-gradient(
        to right,
        #ff1d25 5%,
        #a0328c 35%,
        #7040a4 45%,
        #4359c7 55%,
        #0082e6 70%
    );
    height: 3px;
    width: 100%;
}
