.order_form {
    width: 25rem;
    max-width: 90%;
    margin: 7rem auto;
}

.title {
    text-align: center;
}

.order_form button {
    display: block;
    margin: 2rem auto 1rem auto;
}

.order_btn {
    background-color: #500fcf;
    padding: 0.7rem 2rem;
}

.order_btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}
